@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body {
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
    /* font Myriad Pro */
    font-family: 'Open Sans', 'sans-serif' !important;
}
/* 
* {
    margin: 0;
    padding: 0;
} */

.container {
    max-width: 1140px !important;
    margin: 0 auto;
}


/* header  */

.headerBlock {
    box-shadow: 0px -5px 16px;
}

@media(min-width: 765px) {
    .headerBlock {
        box-shadow: none;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    /* border: 1px solid red; */
    /* padding: 40px 0; */
    /* margin: 20px 0; */
    /* box-shadow: 10px 10px 10px; */
}


.headerLogo_image {
    width: 200px;
}

.hamburger {
    border: 1px solid #86837e;
    width: 20px;
    margin: 5px 0;

}

.headerLogo {
    /* padding: 20px 0;  */
    padding-top: 20px;
    padding-bottom: 20px;
}
@media (min-width: 765px) {
    .headerLogo {
        /* padding: 20px 0;  */
        padding-top: 20px;
        padding-bottom: 25px;
    }
}

.header_hamburger {

}

.headerContacts {
    text-align: right;
}

.headerContacts a:hover{
    text-decoration: none;
    color: #000;
}

.headerContacts_theme {
    display: flex;
    align-items: center;
}

.headerContacts_image{
    margin-right: 10px;
    height: 26px;
    width: 26px;
    background-image: url('../images/call_icon.png');
    background-repeat: no-repeat
}

.headerContacts_text {
    text-decoration: none;
    color: #86837e;
    /* text-align: right; */
}

.headerContacts_workHour {
    font-size: 12px;
}

.headerContacts_phoneNumber {
    font-weight: bold;
    font-size: 21px;
}

.headerUser_image::after {
    /* background-image: url('../images/divider.svg') */
}

.headerAccount {
    display: flex;
    align-items: center;
}

.headerBasket a:hover{
    text-decoration: none;
}

.header_divider {
    margin: 20px;
}

.headerFavorite, .headerBasket_image {
    position: relative;
}

.headerFavorite_counter, .headerBasket_counter{
    position: absolute;
    background-color: #a46086;
    top: 50%;
    left: 50%;
    height: 15px;
    width: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.headerFavorite_count, .headerBasket_count {
    color: #fff;
    font-size: 10px;
}


.header_divider {
    display: none;
}

.headerUser {
    display: none;
}

.headerFavorite {
    display: none;
}

.headerUser_image {
    width: 26px;
    height: 26px;
}



.headerBasket_image {
    background-image: url('../images/basket_icon.png');
    width: 26px;
    height: 26px;
    background-repeat: no-repeat; 
}

.headerFavorite_image{
    width: 26px;
}

/* @media (max-width: 425px) { */
@media (max-width: 455px) {
    .headerContacts_workHour, .headerContacts_phoneNumber {
        display: none;
    }


    .headerContacts_image {
        background-image: url('../images/call_icon.png');
        
    }
    
    .headerUser_image, .headerFavorite_image {
        display: none;
    }

    .header_divider {
        display: none;
    }

    .headerUser, .headerFavorite {
        display: none;
    }

    
    .headerBasket_counter {
        display: none;
    }
}

@media(max-width: 600px) {
    .headerContacts_text {
        display: none;
    }

    .headerContacts {
        text-align: right;
        justify-content:flex-end;
        display: none;

    }
}

@media (min-width: 765px) {
    .header_hamburger {
        display: none;
    }

    .headerContacts_image {
        background-image: url('../images/phone_fill.svg');
    }

        
    .headerBasket_image {
        
        background-image: url('../images/basket.svg');
        background-repeat: no-repeat;
    }

    .header_divider,
    .headerUser,
    .headerFavorite {
        display: inline;
    }

    .headerLogo{
        order: 2;
    }

    .headerContacts {
        order: 1;
    }

    .headerAccount {
        order: 2;
    }


}


/* navigation */
.navigation {
    background-color: #b56a94;
    display: none;
}

.navigationHeader{
    display: flex;
    justify-content: space-between
}

.navbar {
    display: none;
}

.navigationMenu {
    /* display: flex; */
    list-style: none;
}

.navigationMenu_element {
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.navigationMenu_icon{
    height: 12px;
    /* height: 20px; */
    width: 12px;
    /* width: 20px; */
    margin-left: 5px;
    position: relative;
    /* top: 6px; */
}

.dropdown {
    /* padding: 10px 15px; */
    font-size: 14px;
    margin-right: 0px;
    position: relative;
    margin-right: 20px;
}

@media (max-width: 765px) {
    .search_input {
        display: none;
        /* position: ; */
    }

    .dropdown {
        width: 45%;
        float: left;
    }
}


.navbar .navbar-expand-lg {
    padding: 0;
}

.dropdown:hover {
    background-color: #a46086;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .navigationMenu_element {
    color: #fff;
    text-decoration: none;
}

.nav-item:hover .dropdown-menu.show{
    display: block !important;
}

.show {
    display: block;
}

.dropdownMenu {
    font-size: 10px;
    position: fixed;
    position: absolute;
    top:100%;
    left: 0%;
    width: 1140px;
    max-width: 1140px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    /* margin: .125rem 0 0; */
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid rgba(0,0,0,.15); */
    /* border-radius: .25rem; */
}

.dropdownMenu ul {
    list-style: none;
    
}

.dropdownMenu_header {
    font-weight: bold;
    margin-bottom: 20px;
}



.navBarBlock_element {
    width: 20%;
    float: left;
    font-size: 14px;
}

.navBarBlock_element ul {
    margin-bottom: 20px;
    line-height: 1.8em;
}

.navBarBlock_element a {
    color: #000;
}


.navBarBlock_element a:hover{
    color: #000;
    text-decoration: none;
}

.search_input {
    background-image: url("../images/search.svg");
    background-color: #b56a94;
    background-repeat: no-repeat;
    background-position: 100%;
    border: none;
    background-size: 15px;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    /* width: 200px; */
}

.search {
    padding-top: 6px;
}

.search_input::placeholder {
    color: #fff;
}

.search_form {
    padding: 0 !important;
    background-image: url('../images/search.svg') !important;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 16px;
    width: 16px;
    
}

.navbar form .md-form input {
    margin: -5px 0px 1px 0px !important;
}

.search_form::placeholder {
    color: #fff !important;
    font-size: 14px;
}

@media(min-width: 765px) {
    .navigation {
        display: block;
    }

    .headerContacts_text {
        text-align: left;
    }

    .navigationMenu {
        display: flex;
    }
}

@media(min-width: 800px) {
    .navigation {
        /* display: block; */
    }
}

/* banner */

.banner {
    /* padding: 0 20px; */
}

.bannerImage, .bannerItem {
   max-width: 100%;
   padding: 0;
   /* border: 1px solid red; */
   margin-bottom: 60px;
}

.bannerImage {
    padding: 40px 0px 0px !important;
    /* padding-right: 0; */
}

@media(min-width: 765px) {
    .bannerImage {
        padding: 40px 0px 0px !important;
        /* padding-right: 0; */
    }
}

.navbar {
    padding: 0 !important ;
}

.menu-block {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 1.6em;
}

.sub-title {
    font-size: 14px;
}

.bannersBlock {
    margin-left: 0;
    margin-right: 0;
}

.bannerItem {
    width: 100%;
    max-width: 100%;
    /* border: 1px solid red; */
    height: 262px;
    background-color: #fbfbfb;
    float: left;
    float: right;
}

.element_theme_margin {
    margin-bottom: 35px
}

@media (min-width: 455px) {
    .bannerItem {
        height: 445px;
    }

    .element_theme_margin {
        margin-bottom: 60px;
    }
}

/* @media(min-width: 992px) {
    .col-md-6 {
        float: right !important;
    }
} */

/* sales block */
.sales_block {
    /* padding: 0 20px; */
}

.sales_block:after {
    clear: both;
    display: block;
    content: "";
}

.salesHeader_text {
    text-transform: uppercase;
    font-weight: bold;
    font-weight: 500;
    font-weight: 600;
}

.salesItem {
    text-align: center;
    width: 45%;
    width: 50% !important;
    /* margin: 10px; */
    float: left;
    /* padding: 10px; */
    box-sizing: border-box;
    margin-bottom: 35px;
    /* margin-bottom: 60px; */
    font-size: 14px;

}

.salesItem_image {
    width:100%;
    max-width: 100%;
    margin-bottom: 18px;
}

.salesItem_name {
    margin-bottom: 10px;
}

.salesItem_price {
    /* text-decoration: line-through; */
    /* display: flex; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    text-align: center;
}

.before {
    text-decoration: line-through;
}

.discount {
    font-weight: bold;
    text-decoration: none'
}

.salesItem_button {
    border: none;
    text-transform: uppercase;
    background-color: #b56a94;
    color: #fff;
    padding: 8px 30px;

}
 @media(min-width: 445px) {
    .salesItem_button {
        padding: 8px 50px;
    }

    .salesItem {
        /* padding-bottom: 60px;  */
    }
 } 


/* boutique adress */

.boutiqueAdress {
    /* padding: 0 20px;  */
    margin-bottom: 35px;
}

.boutiqueAdress_header {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 40px;
    margin-bottom: 60px;
}

.boutiqueAdress_block {
    /* background-color: #fdfdfd; */
    padding: 0;
}

.boutiqueAdress_background {
    background-color: #fdfdfd;
    /* max-height: 411px; */
    /* height: auto; */
}

.boutiqueAdress_image {
    width: 100%;
    max-width: 100%;
    /* background-color: #fdfdfd; */
    /* max-height: 411px; */
    /* height: 100%; */
}

.boutiqueAdress_city {
    font-weight: bold;
    display: block;
    margin-bottom: 40px;
    margin-top: 40px;
}

.boutiqueAdress_loc {
    display: flex;
    align-items: baseline;
}

.boutiqueAdress_text {
    /* padding: 0 !important; */
    background-color: #fdfdfd;
    /* padding: 35px 0 25px 0; */
    /* border: 1px solid red; */
    padding: 0 40px ;
}

.boutiqueAdress_icon {
    margin-right: 10px;
    width: 10px;
}


/* new block */
.newItems {
    /* padding: 0 20px;  */
}

.newItems:after {
    clear: both;
    content: "";
    display: block;
}
.bannerBlock {
    /* padding: 0 20px;  */
    max-width: 100%;
    width: 100%;
    height: 190px;
    margin-bottom: 60px;
}

@media (min-width: 455px) {
    .bannerBlock {
        height: 440px;
    }

    .salesItem_price {
        display: flex;
    }
}


.bannerBlock_first {
    background-color: #fbfbfb;
   
}

.bannerBlock_second {
    background-color: #eaeaea;
}



/* news block */

.newsBlock_image {
    max-width: 100%;
    width: 100%;
}

.newsBlock_text {
    margin-bottom: 35px;
}

.newsBlock_text img {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}


.newsHeader_text {
    text-transform: uppercase;
    margin-bottom: 15px;
}

.newsHeader_desc {
    margin-bottom: 55px;
}

.newsBlock {
    /* background-color: #fbfbfb; */

}


.newsBlock_type {
    text-transform: uppercase;
    color: #86837e;
    font-size: 14px;
    /* font-weight: bold */
}

.newsBlock_header {
    font-weight: bold;
}

.newsBlock_button {
    border-style: none;
    background-color: #b56a94;
    color: #fff;
    padding: 5px 20px;  
}

.newBlock_seeMore {
    text-decoration: none;
    color: #b56a94;
}


.newBlock_seeMore:hover {
    text-decoration: dashed;
}


@media (min-width: 575px) {
    .newsBlock_text {
        /* width: 100%; */
    }
}

/* exclusive */

.exclusive {
    /* padding: 0 20px; */
}

.exclusive_header {
    margin-bottom: 50px;
    font-size: 20px;
    /* font-weight: normal; */
    font-weight: bold;
}

.exclusive_text {
    line-height: 1.1em;
    font-size: 14px;
    margin-bottom: 20px;
}

.exclusive_link {
    color: #b56a94;
    text-decoration: none;
    display: block;
    margin-bottom: 40px;
}


.exclusive_link:hover {
    text-decoration: underline;
     color: #b56a94;
    /* text-decoration: dashed; */
}


/* footer */

.footer {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    background-color: #fbfbfb;
    padding: 40px 0;
}

.foorterSocial {
    margin-bottom: 30px;
}

.footerSocial_icon {
    width: 30px;
}



.footeSubscribe_text {
    /* margin-bottom: 60px; */
    text-transform: uppercase;
    font-weight: bold;
}

.footerContacts_text {
    text-transform: uppercase;
    font-weight: bold;
}

.footerContacts {
    /* margin-bottom: 20px; */
}

@media (min-width: 765px) {
    
    .footer {
        padding: 40px 0;
    }

    .foorterSocial {
        text-align: left;
        padding-top: 40px;
    }

    .foorterSocial a {
        margin-right: 10px;
    }

    .footerContacts {
        text-align: right;
        padding-top: 30px;
    }

    .footerContacts_text {
        display: none;
    }
}

.footerSubscribe {
    margin-bottom: 20px;
}

.footerSubscribe form{
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center
}

.footerSubscribe_input {
    background-image: url('../images/email.png');
    background-repeat: no-repeat;
    background-position: 8px;
    border: none;
    padding: 9px 0px 9px 0px;
    color: #000;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    margin-right: 15px;
    background-color: #fbfbfb;
    background-position: 95%;
    background-position: 100%;
}

@media (min-width:765px) {
    .footerSubscribe_input {
    margin-bottom: 0px;
    }
}

.footerSubscribe_input::placeholder {
    color: #000;
}
.footerSubscribe_form {
    /* display: flex; */
    justify-content: center
}

/* @media (min-width: 455px) { */
    
@media (min-width: 765px) {
    .footerSubscribe_form{
        display: flex;
        /* flex-direction: column; */
    }

    .footerSubscribe_input {
        display: inline;
    }
}

.footerSubscribe_button {
    text-transform: uppercase;
    border: none;
    background-color: #b56a94;
    color: #fff;

    padding: 10px 20px;
}

.footerContacts_phone {
    color: #000;
    
}

.footerContacts_phone:hover {
    text-decoration: none;
    color: #000;
}

@media(min-width: 455px) {
    .footerContacts_phone {
        font-weight: bold;
    }
}

.footerNav {
    text-align: left;
    padding-top: 20px;
    font-size: 14px;
    color: #0e0d0d;
}

.footerNav div {
    width: 50%;
    padding:0;
    padding-left: 5px;
}

.footerNav a:hover {
    text-decoration: none !important;
    color: #000 !important;
}

.about, .partnership, .usefull, .info {
    width: 50%;
}


.about li, .partnership li, .usefull li, .info li {
    list-style: none;
}


.footerNav_header {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.footerNav_block {
    margin-bottom: 20px;
    font-size: 14px;
}

.footerNav_block a {
    text-decoration: none;
    color: #000;
}

.footerCopyright {
    text-decoration: none;
    color: #000;
}

.footerSiteMap_text {
    color: #000;
}

.footerSiteMap_text{
    text-decoration: none;
    color: #000;
}

.footerSiteMap_text:hover{
    text-decoration: none;
    color: #000;
}

.toggle {
    display: block;
}